<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit route</title>
</head>
<body>
    <h1>Edit {{ username }}'s route</h1>
    <form action="{{ url_for('edit_route', route_id=route['id'], user_id=user_id) }}" method="POST">
        <label for="attempt_date">Attempt date:</label>
        <input type="date" id="attempt_date" name="attempt_date" value="{{ route['attempt_date']} }">
        
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="{{ route['name'] }}" required><br>

        <label for="grade">Grade: </label>
        <select name="grade" id="grade">
            {% for grade in grades%}
            <option value="{{ grade }}">{{ grade }}</option>
            {% endfor %}
        </select>

        <label for="type">Status: </label>
        <select name="type" id="type">
            <option value="sent">Sent</option>
            <option value="project">Project</option>
            <option value="wish">Wish</option>
        </select><br>

        <label for="crag">Crags: </label>
        <select name="crag_id" id="crag_id">
            {% for crag in crags %}
            <option value="{{ crag['crag_id'] }}">{{ crag['cragname'] }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="description">Description: </label>
        <textarea type="text" name="description" id="description" rows="5" cols="40" required>{{ route['description'] }}</textarea><br>
        <button type="submit">Edit</button>
        
    </form>
    
</body>
</html>