<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User register</title>
</head>
<body>
    <h1>Climbing API</h1>
    <form action="/users" method="POST" enctype="application/json">
        <h2>Enter your username</h2>
        <input type="text" id="username" name="username" placeholder="Put your username..." required>
        <button type="submit">Enter</button>
    </form>
    <button onclick="window.location.href='/'">Back home</button>
</body>
</html>